
@font-face {
  font-family: "Catamaran";
  src: url("Catamaran-VariableFont_wght.ttf");
  font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("Mulish-VariableFont_wght.ttf");
font-style: normal;
}
@font-face {
font-family: "Mulish";
src: url("Mulish-Italic-VariableFont_wght.ttf");
font-style: italic;
}

:root {
  /*  These colours are inspired by the work of Elyse Dodge, specifically
      https://www.elysedodge.com/blogs/paintings/lemon-drop.
  */
  --cm-sky-dark: #fc6649;
  --cm-sky-light: #e5c6a7;
  --cm-sky-fog: #e5c6a7cc;
  --cm-street-dark: #243bb7;
  --cm-street-medium: #394fc5;
  --cm-street-light: #4a5bcd;
  --cm-electric-blue: #1789e2;
  --cm-lightest: #fff;
  --cm-mid-grey: #ccc;
  --cm-street-size: 50px;
  --cm-title-font: Catamaran;
  --cm-body-font: Mulish;
  --cm-large-text: 1.4rem;

  /* managing Shoelace tokens */
  --sl-input-font-family: var(--cm-body-font);
}

html {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background: linear-gradient(
    to top,
    var(--cm-sky-light),
    var(--cm-sky-dark)
  );
  font-family: var(--cm-body-font);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "a"
    "b"
  ;
  height: 100%;
}

cm-title-bar {
  grid-area: a;
}

html.lab h1 {
  border-top: 1px solid var(--cm-sky-dark);
  color: var(--cm-sky-dark);
}
